.git
.gitignore
README.md
node_modules
npm-debug.log
yarn-debug.log*
yarn-error.log*
.storage
.cache
.env
.env.local
.env.production
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.prod.yml
tests
vendor
storage/*
!storage/framework
!storage/framework/cache
!storage/framework/cache/data
!storage/framework/sessions
!storage/framework/views
!storage/framework/testing
bootstrap/cache/*
public/storage
public/hot
